@charset "utf-8";
/* CSS Document */

.body{
	width: 1366px;
	height: 640px;
	margin: 0;
}

.p1 {
	width: 756px;
	height: 30px;
	float: left; 
}

.account{
	width: 341px;
	height: 30px;
	float: left;
}

.p2{
	width: 756px;
	height: 31px;
	float: left; 
}

.key{
	width: 341px;
	height: 30px;
	float: left;
}

.p3{
	width: 657px;
	height: 46px;
	float: left;
}


.logButton{
	width: 140px;
	height: 46px;
	float: left;
}

.p4{
	width: 12px;
	height: 46px;
	float: left;
}

.forgetButton{
	width: 140px;
	height: 46px;
	float: left;
}

.p5{
	width: 11px;
	height: 46px;
	float: left;
}

.newButton{
	width: 137px;
	height: 46px;
	float: left;
}